html{
  scroll-behavior: smooth;
  zoom:"75%"
}


*{
  box-sizing: border-box;
}


body{
  font-family: Avenir-Roman, sans-serif;
  margin: 0px;
  padding: 0px;
  zoom:"75%"
}

a{
  text-decoration: none;
}


@media only screen and (min-width:768px) {
  body{
    font-size: 16px;

  }
}
@media only screen and (min-width:480px) and (max-width:768px) {
  body{
    font-size: 15px;
  }
}
@media only screen and (max-width:479px) {
  body{
    font-size: 14px;
  }
}



@-webkit-keyframes fadein {
  from{
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}


@keyframes fadein {
  from{
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}

